.header {
    width: 23.4375rem;
    margin: auto;
    @include breakpoint-up(medium) {
        width: 33.75rem;
        margin: 0;
    }

    &-container {
        width: 20.3125rem;
        height: 6.5625rem;
        margin-left: 1.5625rem;
        margin-right: 1.5625rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        @include breakpoint-up(medium) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &-theme {
        letter-spacing: 0.125rem;
        font-size: 0.8125rem;
    }

    .toggle {
        width: 8.75rem;
        height: 2.8125rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        &-container {
            width: 4.375rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-numbers {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        &-rectangle {
            width: 4.375rem;
            height: 1.5625rem;
            border-radius: 0.9375rem;
        }

        &-circle {
            width: 0.9375rem;
            height: 0.9375rem;
            border-radius: 0.4375rem;
            margin-top: 0.3125rem;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            transform: translateX(0%);
        }
    }
}
